name: Playwright Dev Tests

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ vars.TURBO_TEAM }}
  # These tokens can be found in Curated Tests > vercel-storage-next-integration-test-suite > storage > vcs-integration-test-suite-pg
  POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
  POSTGRES_URL_NON_POOLING: ${{ secrets.POSTGRES_URL_NON_POOLING }}
  # This token can be found in Curated Tests > vercel-storage-next-integration-test-suite > storage > vcs-integration-test-suite-blob
  BLOB_READ_WRITE_TOKEN: ${{ secrets.BLOB_READ_WRITE_TOKEN }}
  # These tokens can be found in Curated Tests > vercel-storage-next-integration-test-suite > storage > vcs-integration-test-suite-kv
  KV_REST_API_URL: ${{ secrets.KV_REST_API_URL }}
  KV_REST_API_TOKEN: ${{ secrets.KV_REST_API_TOKEN }}
  # This token can be found in Curated Tests > vercel-storage-next-integration-test-suite > storage > vcs-integration-test-suite-ecfg
  EDGE_CONFIG: ${{ secrets.EDGE_CONFIG }}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.43.1-jammy
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'

      - uses: actions/cache@v4
        id: playwright-cache
        with:
          path: |
            ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm install

      - name: Run Playwright tests in development mode
        run: pnpm integration-test
        env:
          BLOB_UPLOAD_SECRET: ${{ secrets.BLOB_UPLOAD_SECRET }}
          HOME: /root

      - name: Run Blob Playwright tests in development mode using the alternative api
        run: pnpm integration-test -- @vercel/blob
        env:
          BLOB_UPLOAD_SECRET: ${{ secrets.BLOB_UPLOAD_SECRET }}
          VERCEL_BLOB_API_URL: 'https://vercel.com/api/blob'

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: test/next/test-results
          retention-days: 30
